<div class="row " ng-controller="homeController as home">
    <div class="col-sm-4 jumbotron mx-auto">
        <button type="button" class="btn btn-block btn-outline-success" ng-click="home.displayDumplog = false; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = false; home.showTriggers = false; home.showQuote = false; home.showFundsForm = true; home.showBuyForm = false; home.showSellStocks = false;">ADD Funds</button>
        <br><br>
        <button type="button" class="btn btn-block btn-outline-success"ng-click="home.displayDumplog = false; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = false; home.showTriggers = false; home.showQuote = false; home.showFundsForm = false; home.showBuyForm = true; home.showSellStocks = false;">BUY</button>
        <br><br>
        <button type="button" class="btn btn-block btn-outline-danger" ng-click="home.displayDumplog = false; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = false; home.showTriggers = false; home.showQuote = false; home.showFundsForm = false; home.showBuyForm = false; home.showSellStocks = true;">SELL</button>
        <br><br>
        <button type="button" class="btn btn-block btn-outline-primary" ng-click="home.displayDumplog = false; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = false; home.showTriggers = false; home.showQuote = true; home.showFundsForm = false; home.showBuyForm = false; home.showSellStocks = false;">QUOTE</button>
        <br><br>
        <button type="button" class="btn btn-block btn-outline-dark" ng-click="home.displayDumplog = false; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = false; home.showTriggers = true; home.showQuote = false; home.showFundsForm = false; home.showBuyForm = false; home.showSellStocks = false;">TRIGGERS</button>
        <br><br>
        <button type="button" class="btn btn-block btn-outline-info" ng-click="home.displayDumplog = false; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = true; home.getSummary(); home.showTriggers = false; home.showQuote = false; home.showFundsForm = false; home.showBuyForm = false; home.showSellStocks = false;">SUMMARY</button>
        <br><br>
        <button type="button" class="btn btn-block btn-outline-info" ng-click="home.getDumplog(); home.displayDumplog = true; home.displaySuccessAlert = false; home.displayErrAlert = false; home.showAlert = false; home.showUserSummary = false; home.showTriggers = false; home.showQuote = false; home.showFundsForm = false; home.showBuyForm = false; home.showSellStocks = false;">DUMPLOG</button>
        <br><br>
    </div>


    <div class="col-sm-8">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <!-- ########################################### BUY STOCKS ###########################################-->
            <div ng-show="home.showBuyForm">
              <h3>Buy Stocks</h3>
              <form class="form-inline">
                  <div class="form-group">

                      <label for="inputState"><strong>Stock Symbol: </strong>&nbsp;</label>
                      <input type="text" class="form-control" ng-model="home.selectedStock" placeholder="Enter Stock Symbol">

                      <!-- <label for="inputState"><strong>Select stock:</strong>&nbsp;</label>
                      <select id="inputState" class="form-control" ng-model="home.selectedStock" 
                        ng-options="stock.name for stock in home.stocks track by stock.name" 
                        ng-change="home.getNewQuote(home.selectedStock, 'quoteTimerForBuy')">
                      </select> -->
                    </div>
                    <br>
                </form>
                <br>
                <label for="inputState"><strong>Buy shares worth: </strong>&nbsp;</label>
                <input type="text" class="form-control" ng-model="home.totalSharePrice"placeholder="Enter CAD value to buy shares worth">
  
                <br><br>
                <div ng-show="!!home.selectedStock"> 
                  <!-- <h1 class="display-3">{{home.selectedStock.name }}</h1> -->
                  <!-- <label for="inputState"><strong>Price per share:</strong>&nbsp;</label> ${{ home.selectedStock.price}} -->
                  <!-- <br> -->
                  <div id="quoteTimerForBuy"></div>
                  <br>
                  <button type="submit" class="btn btn-primary" ng-click="home.confirmShareBuy()">Confirm Buy</button> 
                  <br><br>
                  <button  ng-show="home.showCommitBuy" type="submit" class="btn btn-primary" ng-click="home.commitBuy()">Commit Buy</button> 
                  <button  ng-show="home.showCancelBuy" type="submit" class="btn btn-primary" ng-click="home.cancelBuy()">Cancel Buy</button> 
                </div>
            </div>

            <!-- ########################################### ADD FUNDS ###########################################-->
            <div ng-show="home.showFundsForm">
                <h3>Add Funds</h3>
                <form class="form">
                    <div class="form-group">
                      <label for="inputState"><strong>User: </strong>&nbsp;</label> {{ home.userName }}
                      <br><br>
                      <label for="inputState"><strong>Amount: </strong>&nbsp;</label>
                      <input type="text" class="form-control" ng-model="home.fundsToAdd"placeholder="Enter CAD amount to add ">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="home.confirmAddFunds(home.fundsToAdd)">Confirm Add</button> 
                    
                    
                </form>
              </div>

            <!-- ########################################### SELL STOCKS  ###########################################-->
            <div ng-show="home.showSellStocks">
                <h3>Sell Stocks</h3>
                <form class="form-inline">
                    <div class="form-group">

                        <label for="inputState"><strong>Stock Symbol: </strong>&nbsp;</label>
                        <input type="text" class="form-control" ng-model="home.selectedStock" placeholder="Enter Stock Symbol">

                        <!-- <label for="inputState"><strong>Select stock:</strong>&nbsp;</label>
                        <select id="inputState" class="form-control" ng-model="home.selectedStock" 
                          ng-options="stock.name for stock in home.stocks track by stock.name">
                        </select> -->
                      </div>
                      <br>
                  </form>
                  <br>
                  <label for="inputState"><strong>Sell shares worth: </strong>&nbsp;</label>
                  <input type="text" class="form-control" ng-model="home.totalSharePrice" placeholder="Enter CAD value to sell shares worth">
    
                  <br>
                  <div ng-show="!!home.selectedStock"> 
                    <div id="quoteTimerForSell"></div>
                    <button type="submit" class="btn btn-primary" ng-click="home.confirmShareSell()">Confirm Sell</button> 
                    <br><br>
                    <button  ng-show="home.showCommitSell" type="submit" class="btn btn-primary" ng-click="home.commitSell()">Commit Sell</button> 
                    <button  ng-show="home.showCancelSell" type="submit" class="btn btn-primary" ng-click="home.cancelSell()">Cancel Sell</button> 
                  </div>
              </div>

                <!-- ########################################### QUOTE ###########################################-->
            <div ng-show="home.showQuote">
                <h3>Get Quote</h3>
                <form class="form">
                    <div class="form-group">
                      <label for="inputState"><strong>Stock Symbol: </strong>&nbsp;</label>
                      <input type="text" class="form-control" ng-model="home.selectedStockName" placeholder="Enter Stock Symbol">
                      <br>
                      <button type="submit" class="btn btn-primary" ng-click="home.getNewQuote(home.selectedStock, 'quoteTimer')">Get Quote</button> 
                      
                      <!-- <label for="inputState"><strong>Select stock:</strong>&nbsp;</label>
                        <select id="inputState" class="form-control" ng-model="home.selectedStock" 
                          ng-options="stock.name for stock in home.stocks track by stock.name"
                          ng-change="home.getNewQuote(home.selectedStock, 'quoteTimer')">
                        </select> -->
                      </div>
                  </form>
                  <br>
                  <div ng-show="!!home.selectedStockName"> 
                    <h2 class="display-4">{{home.selectedStockName }}</h2>
                    <label for="inputState"><strong>Price per share:</strong>&nbsp;</label> ${{ home.selectedStockPrice}}
                    <br>
                    <div id="quoteTimer"></div>
                    <br>
                  </div>
              </div>

            <!-- ########################################### TRIGGERS  ###########################################-->
            <div ng-show="home.showTriggers">
                <h3>Triggers</h3>
                <h4>Buy Triggers</h4>
                <form class="form">
                    <div class="form-group">
                        <label for="inputState"><strong>Stock: </strong>&nbsp;</label>
                        <input type="text" class="form-control" ng-model="home.buyTriggerStockName"placeholder="Enter stock symbol to set trigger">
                        <br>
                        <label for="inputState"><strong>Buy price: </strong>&nbsp;</label>
                        <input type="text" class="form-control" ng-model="home.buyTriggerPrice"placeholder="Enter CAD value to buy shares worth">
                      </div>
                    <br>
                    <button type="submit" class="btn btn-primary" ng-click="home.setBuyAmmount()">Set Buy Amount</button> 
                    <br><br>
                    <button type="submit" class="btn btn-primary" ng-click="home.confirmBuyTrigger()">Confirm Buy Trigger</button> 
                    <br><br>
                    <button type="submit" class="btn btn-primary" ng-click="home.cancelSetBuyTrigger()">Cancel Set Buy Trigger</button> 
                    
                      
                  </form>
                  <br><br>
                  <h4>Sell Triggers</h4>
                  <form class="form">
                      <div class="form-group">
                          <label for="inputState"><strong>Stock: </strong>&nbsp;</label>
                          <input type="text" class="form-control" ng-model="home.sellTriggerStockName"placeholder="Enter stock symbol to set trigger">
                          <br>
                          <label for="inputState"><strong>Sell price: </strong>&nbsp;</label>
                          <input type="text" class="form-control" ng-model="home.sellTriggerPrice"placeholder="Enter CAD value to sell shares worth">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" ng-click="home.setSellAmount()">Set Sell Amount</button> 
                        <br><br>
                        <button type="submit" class="btn btn-primary" ng-click="home.confirmSellTrigger()">Confirm Sell Trigger</button> 
                        <br><br>
                        <button type="submit" class="btn btn-primary" ng-click="home.cancelSetSellTrigger()">Cancel Set Buy Trigger</button> 
                        
                      </form>
              </div>

              <!-- ########################################### DISPLAY SUMMARY  ###########################################-->
              <div ng-show="home.showUserSummary">
                <div ng-repeat="command in home.userSummary">
                  <div> - {{ command.command}} {{ command.stock }} {{ command.priceDollars }} <span ng-show="command.priceCents">.</span>{{ command.priceCents }}</div>
                </div>
              </div>

              <!-- ########################################### DUMPLOG  ###########################################-->
              <div ng-show="home.displayDumplog">
                  <pre> {{home.dumplog }}</pre>
              </div>



              <div ng-show="home.showAlert"> 
                <br><br>
                <div ng-show="home.displaySuccessAlert" class="alert alert-success" role="alert">
                  {{ home.successAlertText }}
                </div>
                <div ng-show="home.displayErrAlert" class="alert alert-danger" role="alert">
                  {{ home.ErrAlertText }}
                </div>
              </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>



